$body-color: #ededed;
$font-color: #666666;
$h1: #3d3d3d;
$btn-color: #007a82;
$hover-color:#febb0c;

@font-face {
  font-family: 'BebasNeue';
  src: url('../../fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
}